* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* Ocean Blue */
:root {
  --b-0: #eaebf2;
  --b-10: #aaaec8;
  --b-20: #878cb1;
  --b-30: #535b8f;
  --b-40: #303978;
  --b-50: #222854;
  --b-60: #1d2349;
  /* Neutral */
  --n-0: #ffffff;
  --n-10: #cbcbcb;
  --n-20: #a5a5a9;
  --n-30: #787982;
  --n-40: #43455a;
  --n-50: #262942;
  --n-60: #0e1129;
}

h4,
h3,
h5,
h6 {
  color: var(--b-40);
}
.navbar {
  background: var(--b-40);
}
header nav .container-fluid .navbar-brand img {
  height: 65px;
  width: 65px;
  object-fit: cover;
}

header nav .navbar-nav .nav-item .nav-link button {
  font-size: 14px;
  line-height: 1;
  padding: 10px 16px;
  background: transparent;
  border: 1px solid var(--n-0);
  color: var(--n-0);
  border-radius: 4px;
  transition: all 0.4s ease;
  /* box-shadow: -2px 2px 2px 1px rgba(23, 37, 167, 0.568); */
}
header nav .navbar-nav .nav-item .nav-link button:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px #ccccccc4;
}
header nav .navbar-nav .nav-item .nav-link .btn-signup {
  /* box-shadow: -2px 2px 2px 1px rgba(23, 37, 167, 0.568); */
}

/* Section header Css */

main .header {
  background: url("/static/image/banner.png");
  background-size: cover;
  min-height: 90vh;
  position: relative;
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
}
/* .header::after{ 
  background: linear-gradient(89.86deg, #323232 3.52%,
   rgba(50, 50, 50, 0.85) 40.72%, rgba(50, 50, 50, 0.38)
    50.31%, rgba(50, 50, 50, 0.04) 75.98%);

  content:" ";
  position:absolute;
  width: 100%;
  height: 100%;
  inset:0;
} */
main .header__intro {
  margin-top: 60px;
  margin-bottom: 24px;
}
main .header .header__intro h1 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 36px;
}
main .header .header__intro h1 span {
  color: #a5bdeb;
}

.header .header__intro p {
  font-size: 16px;
  color: var(--n-0);
  line-height: 1.5;
  text-transform: capitalize;
}
.header .form {
  background-color: rgb(255 255 255 / 0.8);
  box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 32px 24px;
  width: 70%;
  margin: 0 auto;
}

.header .form .form__intro {
  color: var(--b-40);
  font-weight: 600;
  font-size: 18px;
}

.header .form form .form-control {
  width: 100%;
  padding: 10px;
}
.header .search__form .input__icons {
  position: relative;
}
.header .search__form .input__icons button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.search-btn {
  background: var(--b-40);
}
.header .search__form .input__icons button .icon {
  color: var(--n-0);
}
.header .search__form #btn_showpark {
  text-align: center;
  background-color: var(--b-40);
  width: 100%;
  padding: 10px 16px;
  outline: none;
  border-radius: 4px;
  border: none;
  transition: all 0.4s ease;
  font-size: 16px;
  color: #fff;
}
.header .search__form #btn_showpark:hover {
  background: var(--b-30);
}
.form-label {
  color: var(--b-40);
  font-size: 14px;
  font-weight: 600;
}

.header
  .search__form
  .modal
  .modal-dialog
  .modal-body
  table
  .img_hold_table
  img {
  height: 100px;
  width: 200px;
  object-fit: cover;
}
.header .search__form .modal .modal-dialog .modal-body table .place_name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}
.modal .modal-dialog {
  max-width: 740px;
}

.modal-content {
  padding: 24px;
}

.modal.show .modal-dialog {
  transform: translateY(30%);
}

.modal-title {
  font-size: 24px;
  color: var(--b-40);
  font-weight: 600;
}

tbody.modal-card tr td {
  background: transparent;
  box-shadow: none;
}

.table-row {
  color: var(--n-20);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.57;
  text-align: start;
}

.img_hold_table .img {
  position: relative;
  overflow: hidden;
  padding-top: 85%;
  height: 100%;
}
.header
  .search__form
  .modal
  .modal-dialog
  .modal-body
  table
  .img_hold_table
  img {
  /* height: 100px;
  width: 200px; */
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  object-fit: cover;
}
.header .search__form .modal .modal-dialog .modal-body table p {
  color: #555;
  font-size: 14px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.primary-button {
  background: var(--b-40);
  font-size: 14px;
  line-height: 1.57;
  border-radius: 4px;
  padding: 10px 16px;
  font-weight: normal;
  color: var(--n-0);
  transition: all 0.3s ease;
}

.primary-button:hover {
  background: var(--b-30);
  color: var(--n-0);
}
main .why_choose {
  padding: 80px 0px;
  overflow-x: hidden;
  background-color: var(--n-0);
}
main .why_choose .section__header {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: bold;
}
main .why_choose .section__header {
  color: var(--b-40);
}
.choose_row {
  margin-top: 48px;
}

@media (min-width: 768px) {
  .choose_row {
    margin-top: 32px;
  }
}

.choose_card {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

@media (max-width: 768px) {
  .choose_card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.choose_card .card-wrapper {
  background: var(--n-0);
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.0705882353);
}

@media (max-width: 640px) {
  .choose_card {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* .choose_row .icon_preholder {
  border: none;
  height: 140px;
  width: 140px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
} */

/* .choose_row .icon_clr {
  background-color: #5f5d9c21;
} */

.choose_row .icon_holder {
  /* height: 140px;
  width: 140px; */
  width: 120px;
}

.choose_row .icon_holder img {
  /* height: 50%;
  width: 50%; */
  /* margin: 28px; */
}

.choose_row .card {
  border: none;
  padding: 0;
  /* padding: 10px;
  border-radius: 40px;
  height: 200px;
  width: 100%;
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.1); */
}
.choose_row .card-title {
  font-size: 24px;
  margin-bottom: 12px;
  color: var(--b-40);
}

.choose_row .card_clr {
  /* background-color: #5f5d9c9f; */
}

.choose_row .card-body {
  border: none;
  padding: 0;
}

.choose_row .card .card-text {
  font-size: 14px;
  line-height: 1.57;
  color: #555;
}

/*works section css */
main .works {
  padding: 60px 0;
  background-color: var(--n-0);
  overflow-x: hidden;
}
.works .row .work_col-two img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.works .section__header {
  color: var(--b-40);
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}
.works .row .work_col_one p {
  font-size: 16px;
  color: #555;
  text-align: justify;
}
.works .row .work_col_one p span {
  color: var(--b-40);
  font-weight: bold;
}

main .navi {
  padding: 60px 0;
  overflow-x: hidden;
  background-color: var(--n-0);
}

main .navi .section__header {
  color: var(--b-40);
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}
main .navi .section__header span {
  color: var(--b-40);
}
main .navi .navi_col_two p {
  margin-top: 20px;
  color: #555;
  text-align: justify;
}
main .navi .navi_col_one img {
  border-radius: 10px;
}
main .testimonial {
  padding: 80px 0;
  background: url("/static/image/backdrop.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  box-shadow: inset 20px 20px 500px 300px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}
main .testimonial .section__header {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
}
main .testimonial .card {
  height: 300px;
  padding: 10px;
  background: var(--n-0);
}
main .testimonial .card .card-footer {
  border-top: none;
}
main .testimonial .card .card-text {
  text-align: justify;
  color: var(--n-40);
  padding: 10px 0px;
}
main .testimonial .card .card-footer .img_holder {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid black;
  outline: none;
  box-shadow: 0px 0px 2px 2px #00000080;
  margin: 0 auto;
  background-color: #fff;
}
main .testimonial .card .card-footer .img_holder img {
  height: 80%;
  width: 80%;
  margin: 8px;
}
main .testimonial .card .card-footer .row .col-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  background-color: var(--b-40);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 80px 0 40px 0;
}

.footer-logo {
  margin-bottom: 2px;
}
.footer-logo img {
  max-width: 80px;
  width: 100%;
  line-height: 0;
}

footer .hrOne {
  border-top: 3px solid #5f5d9c;
}
footer p a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.57;
  text-transform: capitalize;
  padding: 0px 10px;
}

footer .footer_link h2 {
  color: #fff;
  font-weight: 500;
}
footer .footer_link h2 span {
  font-weight: bold;
}

footer .footer_link,
footer .social__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_links,
footer .social__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social__info {
  margin-top: 32px;
}
footer .social__info h6 {
  color: var(--n-0);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.57;
}

/*terms page css */
header .navbar .navbar-nav .dropdown {
  font-weight: bold;
}
main .breadcrumb {
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #5f5d9c;
}
main .breadcrumb .hero__banner {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

main .breadcrumb .hero__banner .head__name,
main .breadcrumb .hero__banner .head__name a {
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;

  text-decoration: none;
}
main {
  background-color: #ede5e5;
}
main .terms,
main .about__us,
main .page__work,
main .signin {
  padding: 60px 0;
  background-color: var(--n-0);
}

main .about__us p {
  text-align: justify;
}
.terms .card {
  padding: 40px;
}
.terms .card p {
  text-align: justify;
  color: #333;
}
.terms .card ol li {
  line-height: 32px;
  text-align: justify;
  color: #555;
}
main .page__work .work__header h3 {
  font-size: 36px;
  font-weight: bolder;
}
main .page__work .card {
  height: 320px;
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  background-color: #5f5d9c;
}
main .page__work .card h2 {
  font-size: 60px;
  font-weight: bolder;
}
main .page__work .card p {
  font-weight: bold;
  font-size: 16px;
}
main .page__work .page_row {
  margin-top: 20px;
}

main .signin .card {
  padding: 60px;
  width: 80%;
  margin: 0 auto;
  height: max-content;
}
main .signin .card .form form p a {
  color: #a5bdeb;
}
main .signin .card .form form label {
  font-weight: 600;
}
main .signin .card .form form .form_btns,
main .my__profile .form .form_btns {
  display: flex;
  justify-content: space-between;
}
main .signin .card .form form .form_btns .btn_reset,
main .signin .card .form form .form_btns .update_account_btn {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--b-40);
}
main .signin .card .form form .btn_submit,
main .my__profile .form .form_btns .btn_reset {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: var(--b-40);
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}
main .signin .card .form .P_signin {
  font-weight: 500;
}
main .signin .card .form .P_signin a {
  text-decoration: none;
  color: #a5bdeb;
}

main .my__profile .side__bar {
  background-color: #fff;
  height: 100vh;
}
main .my__profile .side__bar ul {
  list-style: none;
  font-size: 20px;
  margin-top: 30px;
}
main .my__profile .side__bar ul li {
  padding: 20px 0 20px 0;
}
main .my__profile .side__bar ul li a {
  color: #000;
  text-decoration: none;
  margin: 20px 0px 20px 0px;
  font-weight: 600;
}
main .my__profile .account__info {
  margin-top: 50px;
}
main .my__profile .account__info .form,
main .my__profile .account__info .card {
  width: 80%;
  margin: 0 auto;
}
main .my__profile .account__info .card {
  padding: 20px;
}
main .my__profile .account__info .form label {
  font-weight: 600;
}
main .my__profile .account__info .form .dlt_area .btn {
  width: 100%;
  margin: 20px 0px;
  text-align: center;
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

main .my__profile .account__info .card .vehicle__info .vehicle_btns {
  display: flex;
  justify-content: space-between;
}
main .my__profile .account__info .card .vehicle__info .vehicle_btns .btn_edit {
  background-color: green;
  padding: 10px 16px;
  color: #fff;
}
main .my__profile .account__info .card .vehicle__info .vehicle_btns .btn_dlt {
  background-color: red;
  padding: 10px 16px;
  color: #fff;
}
main .my__profile .account__info .card .form .btn_submit_div .btn {
  background-color: var(--b-40);
  padding: 10px 20px;
  color: #fff;

  margin-top: 10px;
}

main .details__page {
  padding: 60px 0;
  background-color: var(--n-0);
}

.details__page .right_row .card .parkingspace_img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.fa-user-large {
  color: var(--b-0);
}

.nav-link.dropdown-toggle {
  color: var(--n-0);
  font-size: 14px;
  line-height: 1.57;
  font-weight: normal;
}

.nav-link.dropdown-toggle.show {
  color: var(--n-0);
}

.details__page .right_row .card .parking_space_info .parkingspace_name {
  font-weight: bold;
}
.details__page .right_row .card .parking_space_info .parking_space_location {
  color: #555;
  font-size: 16px;
}
.details__page .right_row .card .parking_space_details h6 {
  font-weight: bolder;
  font-size: 18px;
  color: var(--b-40);
}

.details__page .right_row .card .parking_space_details .space_details {
  color: #555;
  text-align: justify;
  font-size: 14px;
}
.details__page .right_row .card .parking_space_details .dotted_hr {
  border-top: 4px dotted black;
}

.details__page .right_row .card .parking_space_details .qr_area {
  font-weight: bold;
  font-size: 16px;
  text-align: justify;
}
.details__page .left_row .card {
  padding: 10px;
}
.details__page .left_row .card .card-title {
  font-weight: 600;
}

.details__page .left_row .card .info_park {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.details__page .left_row .card .info_park p:nth-child(2) {
  font-weight: 600;
}
.details__page .left_row .vehicle_opt .card form label {
  display: flex;
}
.details__page .left_row .vehicle_opt .card form label p {
  margin-left: 20px;
  font-weight: 600;
}
.details__page .left_row .total_pay,
.details__page .left_row .order_btns {
  display: flex;
  justify-content: space-between;
}
.details__page .left_row .total_pay p {
  font-weight: bold;
  font-size: 18px;
  color: var(--b-40);
}
.details__page .left_row .order_btns .btn {
  padding: 10px 20px;
  color: #fff;
}
.details__page .left_row .order_btns .btn_cancel {
  background-color: red;
}
.details__page .left_row .order_btns .btn_complete {
  background-color: green;
}
main .payment__page {
  padding: 60px 0;
  background-color: var(--n-0);
}
main .payment__page .card .payment_method .card {
  height: 240px;
  width: 100%;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}
main .payment__page .card .payment_method img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding: 30px;
}

main .payment__page .card .term_con {
  margin-top: 30px;
}
main .payment__page .card .term_con p {
  color: #000;
  font-weight: 500;
}
main .payment__page .card .term_con p:nth-child(3) {
  font-weight: 600;
  text-transform: uppercase;
}
/* media query */

@media (max-width: 767px) {
  .header .form {
    width: 100%;
  }
  main .testimonial .card {
    height: max-content;
    padding: 10px;
  }
  footer .footer_link {
    display: block;
  }
  footer .footer_links {
    display: block;
  }
  .terms .card {
    padding: 10px;
  }
  main .page__work .card {
    height: 320px;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #5f5d9c;
  }
  main .signin .card {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
  }
  main .signin .card .form .P_signin {
    text-align: center;
  }
  main .my__profile .side__bar {
    background-color: #fff;
    height: 100%;
  }
  main .my__profile .form .form_btns {
    display: block;
  }
  main .my__profile .form .form_btns .update_account_btn {
    margin-top: 20px;
  }

  main .my__profile .account__info .card {
    width: 100%;
    margin: 0 auto;
  }
  main .header {
    background: url("/static/image/banner.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main .header {
    height: 55vh;
  }
  main .testimonial .card {
    height: 360px;
    padding: 5px;
  }
}

.qr-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px;
}
