{% extends 'base.html' %}
{% block content %}
      
      <section class="about__us">
        <div class="container">
          <h3>About Us</h3>
          <p>
            Welcome to Park and Go, where simplicity meets convenience in the world
            of parking solutions. Established on March 1, 2024, by Lakhe Company
            in the heart of Kathmandu, Park and Go was founded with a singular
            mission – to make parking simpler and easier for everyone.
          </p>
          <p>
            At Park and Go, we bridge the gap between drivers in search of parking
            and individuals with available parking spaces. Our platform serves
            as the ultimate connector, facilitating a seamless experience for
            both parties. We take pride in our commitment to transforming the
            parking landscape, offering innovative solutions that prioritize
            user ease and accessibility.
          </p>
          <p>
            Since our inception, Park and Go has become the go-to choice for over 10
            thousand drivers who now enjoy the benefits of hassle-free parking.
            Join us on this journey as we continue to redefine and elevate the
            parking experience for individuals and communities alike. At Park and Go,
            simplicity and convenience are not just goals – they are our
            commitment to making every parking experience a breeze.
          </p>
        </div>
      </section>
 {% endblock %}
