{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <section class="details__page">
        <div class="container">
            <div class="row gx-3 gy-3 left_row">
                <div class="col-lg-6 col-12">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Booking details -->
                        <input name="selected-location-id" value="{{ location_info.id }}" hidden />
                        <input name="arriving-date" value="{{ arriving_date }}" hidden />
                        <input name="arriving-time" value="{{ arriving_time }}" hidden />
                        <input name="exiting-date" value="{{ exiting_date }}" hidden />
                        <input name="exiting-time" value="{{ exiting_time }}" hidden />
                        <input name="slots" value="{{ slots }}" hidden />
                        <h4>Complete your parking reservation and pay</h4>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="card-title">Booking Details</p>
                                <div class="info_park">
                                    <p>Arriving On</p>
                                    <p>{{ arriving_date }}, {{ arriving_time }}</p>
                                </div>
                                <div class="info_park">
                                    <p>Leaving On</p>
                                    <p>{{ exiting_date }}, {{ exiting_time }}</p>
                                </div>
                                <div class="info_park">
                                    <p>Duration</p>
                                    <p>{{ duration_hours }} hr</p>
                                </div>
                            </div>
                        </div>
                        <div class="vehicle_opt">
                            <h6>Vehicle and Wash</h6>
                            <div class="card">
                                <div class="card-body">
                                    {% for vehicle in user_vehicles %}
                                        {% if vehicle.vehicle_type == "2 wheeler" %}
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       name="vehicle"
                                                       id="{{ vehicle.id }}"
                                                       value="{{ vehicle.id }}" />
                                                <label class="form-check-label d-flex" for="{{ vehicle.id }}">
                                                    <i class="fa fa-biking" style="margin-top: 4px;"></i>
                                                    <p style="margin-left: 10px;">Two wheeler - {{ vehicle.registration_number }}</p>
                                                </label>
                                            </div>
                                        {% else %}
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       name="vehicle"
                                                       id="{{ vehicle.id }}"
                                                       value="{{ vehicle.id }}" />
                                                <label class="form-check-label d-flex" for="{{ vehicle.id }}">
                                                    <i class="fa fa-cab" style="margin-top: 4px;"></i>
                                                    <p style="margin-left: 14px;">Four wheeler - {{ vehicle.registration_number }}</p>
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <button type="button"
                                            onclick="showAddVehicleForm()"
                                            class="btn btn-primary btn-sm">Add a vehicle</button>
                                    <div style="display: none;
                                                flex-direction: column;
                                                gap: 4px;
                                                margin-top: 8px;
                                                width: 200px"
                                         id="add-vehicle-form">
                                        <select id="add-vehicle-type" style="outline: none; padding: 4px;">
                                            <option value="2">2 wheeler</option>
                                            <option value="4">4 wheeler</option>
                                        </select>
                                        <input id="add-vehicle-registration-number"
                                               placeholder="Registration number"
                                               style="outline: none;
                                                      padding: 4px" />
                                        <button onclick="addVehicleSubmit()" class="btn btn-sm btn-success">Add</button>
                                    </div>
                                    <div class="form-check mt-4">
                                        <input type="checkbox"
                                               class="form-check-input"
                                               name="wash"
                                               id="wash"
                                               onclick="onWashHandler(this)"
                                               value="true" />
                                        <label class="form-check-label d-flex" for="wash" style="height: 22px;">
                                            <i class="fa fa-hands-wash" style="margin-top: 4px;"></i>
                                            <p style="margin-left: 14px;">Do wash for the vehicle.</p>
                                        </label>
                                        <small class="text-danger">Cost for Vehicle wash will be charged
                                        additionaly.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <h4>Your Payment Summary</h4>
                            <p style="margin-bottom: 4px;">Per hour - Rs. {{ location_info.price }}</p>
                            <p>Slots - {{ slots }}</p>
                            <div class="total_pay">
                                <h6>Your Total Order</h6>
                                <p style="font-weight: 300">
                                    {{ slots }} slot(s) x {{ duration_hours }} hr x Rs. {{ location_info.price }}<span id="wash-cost" style="display: none; margin-left: 4px;">+ Rs {{ location_info.wash_cost }} (Wash)</span> = <span style="font-weight: 700" id="total-cost">Rs. {{ total_cost }}</span>
                                </p>
                            </div>
                            <div class="order_btns">
                                <div>
                                    <button class="btn btn_complete"
                                            type="submit"
                                            id="complete-order-btn"
                                            style="display: none">Complete Order</button>
                                    <p id="complete-order-select-vehicle-warn">Please select a vehicle first.</p>
                                </div>
                            </div>
                            <p class="mt-2">
                                By purchasing, you accept our <a href="/terms">terms & policy</a>.
                            </p>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-12 right_row">
                    <div class="card">
                        <div class="card-body">
                            <img src="/media/{{ location_info.photo }}"
                                 alt=""
                                 class="img-fluid parkingspace_img" />
                            <div class="parking_space_info mt-4">
                                <h5 class="parkingspace_name">{{ location_info.parking_name }}</h5>
                                <p class="parking_space_location">{{ location_info.location_name }}</p>
                            </div>
                            <div class="parking_space_details">
                                <h6>Details About Parking Spot</h6>
                                <p class="space_details">{{ location_info.description }}</p>
                                <hr class="dotted_hr" />
                                <p class="qr_area">
                                    After purchasing, you will receive a personalized QR code.
                                    Simply scan your QR code at the designated entrance, and
                                    you're all set to park your vehicle with ease.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Add vehicle -->
    <script>
    function showAddVehicleForm() {
        document.getElementById("add-vehicle-form").style.display = "flex";
    }

    async function addVehicleSubmit() {
        const vehicleType = document.getElementById("add-vehicle-type").value;
        const vehicleRegistrationNumber = document.getElementById("add-vehicle-registration-number").value;

        await fetch("/add-vehicle", {
            method: "POST",
            headers: {
                "Content-Type": "Application/JSON",
            },
            body: JSON.stringify({
                type: vehicleType,
                registrationNumber: vehicleRegistrationNumber,
                userId: "{{ request.user.id }}",
            })
        })
        location.reload();
    }
    </script>
    <!-- Add wash -->
    <script>
    const washCostInfo = document.getElementById("wash-cost");
    const totalCost = document.getElementById("total-cost");
    function onWashHandler(checkbox) {
        if (checkbox.checked) {
            washCostInfo.style.display = "inline";
            totalCost.innerText = "Rs. " + ({{ total_cost }} + {{ location_info.wash_cost }}).toString();
        } else {
            washCostInfo.style.display = "none";
            totalCost.innerText = "Rs. {{ total_cost }}";
        }
    }
    </script>
    <!-- Handle vehicle selection and complete order btn -->
    <script>
    $('input[type=radio][name=vehicle]').change(function() {
        $('#complete-order-select-vehicle-warn').css('display', 'none');
        $('#complete-order-btn').css('display', 'block');
    });
    </script>
{% endblock %}
