{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <section class="hero-section header">

        <div class="container position-relative">
          <div class="row header__row">
            <div class="col-12">
              <div class="header__intro text-center">
                <h1>Drive in confidence, <span>park with convenience</span></h1>
                <p>
                  seize your spot instantly; book your desired parking space
                  anytime, anywhere!
                </p>
              </div>
                    <div class="form">
                        <h6 class="form__intro">Select your date and time</h6>
                        <form class="search__form" method="GET" action="/payment">
                            {% csrf_token %}
                            <div class="mb-3 input__icons">
                                <input 
                                       type="text"
                                       class="form-control mt-4"
                                       id="address"
                                       placeholder="Search address or place" />
                                <button
                                    class="search-btn"> <i class="fa fa-search icon"></i>
                                </button>
                            </div>
                            {{ markers|json_script:"markers-data" }}
                            <div id="map"></div>
                            <script src="{% static 'js/map.js' %}" defer></script>
                            <div class="my-3">
                                <div class="row">
                                    <p id="location-selected">Please select a location from above</p>
                                    <input id="selected-location-id"
                                           name="selected-location-id"
                                           style="display: none" />
                                </div>
                            </div>
                            <div class="mb-3 input__icons">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-label">Arriving At:</label>
                                        <input type="date"
                                               class="form-control"
                                               id="arriving-date"
                                               name="arriving-date" />
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Exiting At:</label>
                                        <input type="date"
                                               class="form-control"
                                               id="exiting-date"
                                               name="exiting-date" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 input__icons">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-label">Arriving Time:</label>
                                        <input type="time"
                                               class="form-control"
                                               id="arriving-time"
                                               name="arriving-time" />
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Exiting Time:</label>
                                        <input type="time"
                                               class="form-control"
                                               id="exiting-time"
                                               name="exiting-time" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="button"
                                        disabled
                                        id="btn_showpark"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Show parking spaces</button>
                                <!-- Modal -->
                                <div class="modal fade"
                                     id="exampleModal"
                                     tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header p-0 mb-3">
                                                <h1 class="modal-title" id="exampleModalLabel">Parking Spaces</h1>
                                                <button type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body p-0">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">

                                                        <thead class="">
                                                            <tr class="table-row">
                                                              <th class="w-25">Sort By</th>
                                                              <th class="w-50">Distance</th>
                                                              <th clas="w-13">Price</th>
                                                              <th class="w-12">Slots</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="modal-card">
                                                            <tr>
                                                                <td class="img_hold_table">
                                                                    <div class="img">
                                                                    <img src="{% static 'image/parkingspace.png' %}"
                                                                         alt=""
                                                                         class="img-fluid"
                                                                         id="selected-place-image" /> 

                                                                          
                                                                        </div>
                                                                </td>
                                                                <td>
                                                                    <p class="place_name" id="selected-place-name">Triveni complex underground parking</p>
                                                                    <p id="selected-place-location">putalisadak, kathamndu</p>
                                                                    <button class="primary-button btn">Book Now</button>

                                                                </td>
                                                                <td id="selected-place-price">Rs. 25</td>
                                                                <td>
                                                                    <input type="number"
                                                                           min="1"
                                                                           max="20"
                                                                           value="1"
                                                                           id="slots"
                                                                           name="slots"
                                                                           style="padding-left: 8px" />
                                                                    <p class="total-price-label">Total</p>
                                                                    <p class="total-price" id="total-price">Rs. 25</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why_choose">
        <div class="container">
            <h2 class="section__header text-center">Parking is now a lot easier!</h2>
            <div class="choose_card choose_row gx-5 gy-3">
                <div class="card-wrapper">
                    <div class="icon_preholder">
                        <div class="icon_holder ">
                            <img src="{% static 'image/icons/stress-relief.png' %}"
                                 alt="stress free icon"
                                 class="c_icon img-fluid" />
                        </div>
                    </div>
                    <div class="card mt-3 card_clr">
                        <div class="card-body">
                            <h4 class="card-title text-center">Stress Free</h4>
                            <p class="card-text">
                                Embrace a stress-free journey with us, where worries
                                dissolve and tranquility reigns. Experience peace as we
                                navigate you to hassle-free solutions effortlessly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="icon_preholder icon_clr">
                      <div class="icon_holder">
                        <img
                          src= "{% static 'image/icons/back-in-time.png' %}"
                                 alt="save time icon"
                                 class="c_icon img-fluid" />
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h4 class="card-title text-center">Save Time</h4>
                            <p class="card-text">
                                Save time effortlessly. Unlock a world where every second
                                counts towards what truly matters.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="icon_preholder">
                      <div class="icon_holder text-center">
                        <img
                          src="{% static 'image/icons/asset.png' %}"
                                 alt="secure saving icon"
                                 class="c_icon img-fluid" />
                        </div>
                    </div>
                    <div class="card mt-3 card_clr">
                        <div class="card-body">
                            <h4 class="card-title text-center">Secure Savings</h4>
                            <p class="card-text">
                                Entrust your financial security to unwavering confidence and
                                precision, finding peace in the assurance that your money is
                                secure and well-cared-for.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="works">
        <div class="container">
            <div class="row gx-5 gy-3">
                <div class="col-md-6 col-lg-6 col-12 work_col_one">
                    <h2 class="section__header">How it works?</h2>
                    <p>
                        ParkGo streamlines the parking process, making it quick,
                        convenient, and stress-free for users. Here are some simple
                        steps to book you desired spot are:
                    </p>
                    <p>
                        <span>Enter Destination:</span> Simply input your desired
                        destination into the ParkGo app or website.
                    </p>
                    <p>
                        <span>Set Time and Date:</span> Choose the date and time you
                        plan to arrive at your destination.
                    </p>
                    <p>
                        <span>Select Vehicle:</span>Specify whether you'll be parking
                        a car, motorcycle, or any other vehicle.
                    </p>
                    <p>
                        <span>Pay & Go:</span> Pay for your parking reservation securely
                        through the ParkGo platform. Once your reservation is confirmed,
                        you're all set to go! Drive to your destination and park in your
                        reserved spot hassle-free.
                    </p>
                    <a href="" class="primary-button btn">Learn how it works &rarr;</a>
                </div>
                <div class="col-md-6 col-lg-6 col-12 work_col-two">
                    <img src="{% static 'image/work1.png' %}"
                         alt="how it works image"
                         class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section class="navi">
        <div class="container">
            <div class="row gx-5 gy-3">
                <div class="col-md-6 col-lg-6 col-12 navi_col_one">
                    <img src="{% static 'image/navi.png' %}" alt="" class="img-fluid" />
                </div>
                <div class="col-md-6 col-lg-6 col-12 navi_col_two">
                    <h2 class="section__header">
                        Experience Effortless
                        <br />
                        <span>Navigation</span>
                    </h2>
                    <p>
                        Seamlessly manage bookings through our intuitive platform.
                        Navigate the city stress-free with ParkGo's secure and
                        convenient parking solutions. Discover parking everywhere,
                        whether it's now or scheduled for later. Compare rates & select
                        the spot that suits you best.With Park & Go, forget the hassle of
                        circling for parking spots. Our user-friendly platform ensures
                        a smooth booking experience, allowing you to focus on your 
                        journey ahead. 
                    </p>
                </div>
            </div>
        </div>
    </section>
      <section class="testimonial">
        <div class="container">
          <h2 class="section__header text-center">What Our Client says?</h2>
          <div class="owl-theme owl-carousel mt-4">
            <div class="item">
              <div class="card" style="max-width: 540px">
                <div class="card-body">
                  <p class="card-text">
                    ParkGo has transformed my city experience, saving me time
                    and eliminating the stress of finding a spot. With
                    user-friendly features and real-time updates, I can now
                    navigate effortlessly and confidently, knowing my parking
                    space is secured.
                  </p>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-4">
                      <div class="img_holder">
                        <img
                          src="{% static 'image/icons/man.png' %}"
                          alt=""
                          class="img-fluid"
                        />
                      </div>
                    </div>
                    <div class="col-8">
                      <h6>Jenny Wilson</h6>
                      <p>CEO of Workcation</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card" style="max-width: 540px">
                <div class="card-body">
                  <p class="card-text">
                    ParkGo has transformed my city experience, saving me time
                    and eliminating the stress of finding a spot. With
                    user-friendly features and real-time updates, I can now
                    navigate effortlessly and confidently, knowing my parking
                    space is secured.
                  </p>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-4">
                      <div class="img_holder">
                        <img
                          src="{% static 'image/icons/man.png' %}"
                          alt=""
                          class="img-fluid"
                        />
                      </div>
                    </div>
                    <div class="col-8">
                      <h6>John Cena</h6>
                      <p>CEO of Workcation</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- <section class="footinfo py-3">
        <h2 class="text-center text-capitalize">Save money by pre booking Online</h2>
    </section> -->
    <!-- Extra scripts -->
    <script>document.getElementById("address").addEventListener("input", (e) => renderMap(e.target.value));</script>
    <script>var place_spaces_count = JSON.parse("{{ place_spaces_count|escapejs }}")</script>
    <script>
    document.getElementById("slots").addEventListener("input", recalculateTotalPrice);
    function recalculateTotalPrice(e) {
        document.getElementById("total-price").innerHTML = `Rs. ${(parseInt(document.getElementById("selected-place-price").innerHTML.slice(3)) * parseInt(e.target.value)).toFixed(2)}`;
    }
    </script>
    <!--JS for owlcarousel-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            margin: 10,
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000,
        });
    });
    </script>
{% endblock %}
