{% extends 'base.html' %}
{% block content %}

      <section class="my__profile">
        <div class="container-fluid">
         
          
          <div class="row">
            <div class="col-lg-2 col-md-4 col-12 side__bar d-md-flex d-none">
              <ul>
                <li><a href="{% url 'profile'%}">My Profile</a></li>
                <li><a href="{% url 'addvehicle' %}">Add Vehicles</a></li>
                <li><a href="{% url 'booking' %}">Bookings Made</a></li>
                
              </ul>
            </div>
            <div class="col-lg-10 col-md-8 col-12">
              <div>
                <div class="account__info">
                  <div class="form">
                    <form action="">
                      <h3>Account Information</h3>
                      <div class="mb-4 row">
                        <label for="fname" class="col-sm-2 col-form-label"
                          >First Name</label
                        >
                        <div class="col-sm-10">
                          <input
                            type="text"
                            class="form-control"
                            id="fname"
                            placeholder="Enter Your First Name"
                          />
                        </div>
                      </div>

                      <div class="mb-4 row">
                        <label for="sname" class="col-sm-2 col-form-label"
                          >Surname</label
                        >
                        <div class="col-sm-10">
                          <input
                            type="text"
                            class="form-control"
                            id="sname"
                            placeholder="Enter Your Surname"
                          />
                        </div>
                      </div>
                      <div class="mb-4 row">
                        <label
                          for="emailaddress"
                          class="col-sm-2 col-form-label"
                          >Email Address</label
                        >
                        <div class="col-sm-10">
                          <input
                            type="email"
                            class="form-control"
                            id="e-address"
                            placeholder="someone@gmail.com"
                          />
                        </div>
                      </div>
                      <div class="mb-4 row">
                        <label for="pnumber" class="col-sm-2 col-form-label"
                          >Phone Number</label
                        >
                        <div class="col-sm-10">
                          <input
                            type="text"
                            class="form-control"
                            id="pnumber"
                            placeholder="Enter Your number"
                          />
                        </div>
                      </div>

                      <div class="form_btns mt-4 mb-4">
                        <div>
                          <a class="btn_reset">Change Password</a>
                        </div>
                        <div>
                          <a type="submit" class="update_account_btn">
                            Update Account
                          </a>
                        </div>
                      </div>
                      <div class="dlt_area">
                        <a class="dlt_btn btn" href="">Delete Account</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" role="alert">
                  {{ message }}
                  </div>
                {% endif %}
                {% endfor %}
            {% endif %}
              
            </div>
          </div>
        </div>
      </section>
   {% endblock %}