{% extends 'base.html' %}
{% block content %}
    <section class="signin">
        <div class="container">
            <div class="card">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}<div class="alert alert-success" role="alert">{{ message }}</div>{% endif %}
                        {% if message.tags == 'error' %}<div class="alert alert-danger" role="alert">{{ message }}</div>{% endif %}
                    {% endfor %}
                {% endif %}
                <div class="form">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if form.username.errors %}<span class="text-danger">{{ form.username.errors }}</span>{% endif %}
                        <div class="form_intro text-center">
                            <h3>Welcome Back!</h3>
                        </div>
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-2 col-form-label">Email Address</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       name="email"
                                       placeholder="someone@gmail.com" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password"
                                       class="form-control"
                                       name="password"
                                       placeholder="password"
                                       minlength="8" />
                            </div>
                        </div>
                        <div class="form_btns">
                            <div class="ms-auto">
                                <button type="submit" class="btn_submit">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
