{% extends 'base.html'%}
{% block content %}
      <section class="breadcrumb">
        <div class="conatiner">
          <div class="row">
            <div class="col-12 hero__banner order-lg-0 order-1 px-4">
              <h1 class="head__name text-center">
                <a href="index.html">Home</a> | Terms & Conditions
              </h1>
            </div>
          </div>
        </div>
      </section>
      <section class="terms">
        <div class="container">
          <div class="card">
            <h3>Terms and Conditions</h3>
            <p>
              Welcome to Park & Go! By accessing our website or using our mobile
              application, you agree to adhere to the following terms and
              conditions:
            </p>
            <ol>
              <li>
                Acceptance of Terms: By accessing or using Park & Go, you
                acknowledge that you have read, understood, and agree to be
                bound by these terms and conditions. If you do not agree with
                any part of these terms, you may not access or use our services.
              </li>
              <li>
                Use of Services: Park & Go provides a platform that connects
                drivers in need of parking spaces with individuals or entities
                offering parking spaces. By using our services, you agree to use
                them only for lawful purposes and in accordance with these terms
                and any applicable laws and regulations.
              </li>
              <li>
                Booking and Payments: When booking a parking space through Park
                & Go, you agree to provide accurate and complete information.
                Payments for parking reservations are processed securely through
                our platform. Park & Go reserves the right to cancel bookings or
                refuse service at our discretion.
              </li>
              <li>
                Cancellation and Refunds: Cancellation policies for parking
                reservations may vary depending on the parking provider. Please
                review the specific cancellation policy associated with your
                booking. Refunds, if applicable, will be processed in accordance
                with our refund policy.
              </li>
              <li>
                User Conduct: You agree not to engage in any conduct that may
                disrupt or interfere with the proper functioning of Park & Go or
                infringe upon the rights of others. This includes but is not
                limited to spamming, hacking, or transmitting any harmful or
                unlawful material.
              </li>
              <li>
                Intellectual Property: All content and materials available on
                Park & Go, including but not limited to text, graphics, logos,
                images, and software, are the property of Park & Go or its
                licensors and are protected by intellectual property laws.
              </li>
              <li>
                Privacy Policy: Park & Go is committed to protecting your
                privacy. Please review our Privacy Policy to understand how we
                collect, use, and disclose your personal information.
              </li>
              <li>
                Disclaimer of Warranties: Park & Go provides its services on an
                "as is" and "as available" basis. We make no warranties or
                representations about the accuracy or reliability of our
                services or the content available through Park & Go.
              </li>
              <li>
                Limitation of Liability: To the fullest extent permitted by law,
                Park & Go shall not be liable for any direct, indirect,
                incidental, special, consequential, or punitive damages arising
                out of or in connection with your use of our services.
              </li>
              <li>
                Changes to Terms: Park & Go reserves the right to update or
                modify these terms and conditions at any time without prior
                notice. By continuing to use our services after any such
                changes, you agree to be bound by the revised terms.
              </li>
            </ol>
          </div>
        </div>
      </section>
  {% endblock %}